<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Store\ViewModel\SwitcherUrlProvider">
        <plugin sortOrder="1" name="blackbirdHrefLangSwitcherUrlProvider"
                type="Blackbird\HrefLang\Plugin\ViewModel\SwitcherUrlProviderPlugin"/>
    </type>

    <preference for="Blackbird\HrefLang\Api\HrefLangProvidersInterface" type="Blackbird\HrefLang\Model\HrefLangProviders"/>

        <type name="Blackbird\HrefLang\Api\HrefLangProvidersInterface">
            <arguments>
                <argument name="providers" xsi:type="array">
                    <item name="catalog_category" xsi:type="array">
                        <item name="class" xsi:type="object">Blackbird\HrefLang\Model\Provider\Catalog\Category</item>
                        <item name="sortOrder" xsi:type="number">10</item>
                        <item name="enabled" xsi:type="boolean">true</item>
                    </item>
                    <item name="catalog_product" xsi:type="array">
                        <item name="class" xsi:type="object">Blackbird\HrefLang\Model\Provider\Catalog\Product</item>
                        <item name="sortOrder" xsi:type="number">20</item>
                        <item name="enabled" xsi:type="boolean">true</item>
                    </item>
                    <item name="homepage" xsi:type="array">
                        <item name="class" xsi:type="object">Blackbird\HrefLang\Model\Provider\Homepage</item>
                        <item name="sortOrder" xsi:type="number">5</item>
                        <item name="enabled" xsi:type="boolean">true</item>
                    </item>
                </argument>
            </arguments>
        </type>
</config>
